html,
body,
.hee-btn {
	background: #000 url(/img/btn-off.png) no-repeat center;
  background-size: contain;
	height: 100%;
	width: 100%;
}

.hee-btn.active {
	background: #000 url(/img/btn.png) no-repeat center;
  background-size: contain;
}
